// publish/index.html ========>>>>>>>>
.app-refresh {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
    height: 0;
    padding: 0 18px;
    background: #000;
    line-height: 52px;
    overflow: hidden;
    transition: all 0.3s ease;
    .app-refresh-wrap {
        display: flex;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
    }
    .app-refresh-wrap label {
        flex: 1;
    }
    .app-refresh-show {
        height: 52px;
    }
}
// publish/index.html <<<<<<<<========

// app.vue ========>>>>>>>>
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.3s ease;
}
.slide-left-enter,
.slide-right-enter {
    opacity: 1;
    transform: translate3d(0, 100px, 0);
}
.slide-right-leave-active,
.slide-left-leave-active {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
}
@media (max-width: 540px) {
    .slide-left-enter-active,
    .slide-left-leave-active,
    .slide-right-enter-active,
    .slide-right-leave-active {
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .slide-left-enter {
        transform: translate(100%, 0);
    }
    .slide-right-enter {
        transform: translate(-100%, 0);
    }
    .slide-right-leave-active {
        transform: translate(100%, 0);
    }
    .slide-left-leave-active {
        transform: translate(-100%, 0);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
// app.vue <<<<<<<<========

// about.vue ========>>>>>>>>
.flex-item {
    display: flex;
    margin-bottom: 10px;
    .flex-label {
        width: 70px;
    }
}
// about.vue <<<<<<<<========

// app.vue ---> backtop.vue ========>>>>>>>>
.back-top {
    transition: all 0.3s ease;
    position: fixed;
    left: 50%;
    bottom: 10%;
    width: 30px;
    height: 65px;
    margin-left: 520px;
    a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(../images/back-top.png);
        background-size: cover;
    }
}
// .back-top {
//     transition: all 0.3s ease;
//     position: fixed;
//     left: 50%;
//     bottom: 10%;
//     width: 35px;
//     height: 35px;
//     margin-left: 520px;
//     a {
//         display: block;
//         width: 100%;
//         height: 100%;
//         background-image: url(../images/back-top-1.png);
//         background-size: cover;
//         &:hover {
//             background-image: url(../images/back-top-2.png);
//         }
//     }
// }
// app.vue ---> backtop.vue <<<<<<<<========

// toastr 距离顶部距离 ========>>>>>>>>
.toast-top-center {
    top: 10px !important;
}
// toastr 距离顶部距离 <<<<<<<<========

// loading-spinner.vue ========>>>>>>>>
.spinner {
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 10099;
    left: 50%;
    top: 50%;
    margin: -125px 0 0 -45px;
    text-align: center;
    animation: rotate 2s infinite linear;
    .dot1,
    .dot2 {
        width: 60%;
        height: 60%;
        display: inline-block;
        position: absolute;
        top: 0;
        background-color: #67cf22;
        border-radius: 100%;
        animation: bounce 2s infinite ease-in-out;
    }
    .dot2 {
        top: auto;
        bottom: 0;
        animation-delay: -1s;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
// loading-spinner.vue <<<<<<<<========

// progress-bar.vue ========>>>>>>>>
.progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    /* transition width .2s, opacity .4s; */
    opacity: 1;
    background-color: #efc14e;
    z-index: 999999;
}
// progress-bar.vue <<<<<<<<========
