{
    "env": {
        "production": {
            "presets": [
                ["latest", {
                    "es2015": {
                        "modules": false
                    }
                }],
                "stage-2"
            ],
            "plugins": ["transform-runtime"],
            "comments": false
        },
        "development": {
            "presets": [
                ["env", {
                    "targets": {
                        "chrome": 52
                    },
                    "modules": false
                }]
            ],
            "plugins": [
                "transform-object-rest-spread"
            ]
        }
    }
}
