<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>M·M·F 小屋</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' data: 'unsafe-eval' 'unsafe-inline' *.bdimg.com; frame-src 'self'" />
    <meta name="Keywords" content="林岑影, M·M·F 小屋"/>
    <meta name="Description" content="M·M·F 小屋"/>
</head>
<body>
<!--[if lte IE 9]>
<div class="global-msg">作为一个有理想, 有道德, 有文化, 有纪律的四有前端, 是绝对不会为了兼容低版本浏览器而浪费代码的, 请使用 <a target="_blank" href="http://sw.bos.baidu.com/sw-search-sp/software/fc14f1545b7/ChromeStandalone_51.0.2704.106_Setup.exe">Chrome</a> , <a href="http://www.firefox.com.cn/download/" target="_blank">Firefox</a>, <a href="http://chrome.360.cn/" target="_blank">360浏览器</a> 等非IE浏览器访问本站!</div>
<![endif]-->
<div id="app"></div>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
