// 全局按钮样式

.btn {
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    padding: 0 15px;
    border-radius: 4px;
    & + .btn {
        margin-left: 5px;
    }
    &.block {
        width: 100%;
        margin-left: 0;
    }
    &.disabled {
        background: #e2e9e9;
        color: #818c8c;
        &:hover {
            background: #e2e9e9;
            color: #818c8c;
        }
    }
    .icon {
        vertical-align: -2px;
        margin-right: 10px;
    }
}

.btn-yellow {
    background: #eded63;
    color: #7e7e10;
    display: inline-block;
    &:hover {
        background: #f1f188;
    }
}

.btn-white {
    background: white;
    color: #3e4545;
    &:hover {
        opacity: 0.8;
    }
}

.btn-white-border {
    height: 38px;
    border: 1px solid white;
    color: white;
    &:hover {
        opacity: 0.8;
    }
}

.btn-black {
    background: #3e4545;
    color: white;
    display: inline-block;
    &:hover {
        background: #515a5a;
    }
}

.btn-blue {
    background: #54d9e0;
    color: white;
    display: inline-block;
    &:hover {
        background: #77e1e6;
    }
}
