// 全部icon样式

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-nav-logo {
    width: 109px;
    height: 31px;
    background-image: url(../images/@1x/nav-logo.png);
}

.icon-nav-home {
    width: 24px;
    height: 23px;
    background-image: url(../images/@1x/nav-home.png);
}

.icon-nav-explore {
    width: 23px;
    height: 23px;
    background-image: url(../images/@1x/nav-explore.png);
}

.icon-nav-features {
    width: 23px;
    height: 22px;
    background-image: url(../images/@1x/nav-features.png);
}

.icon-search-white {
    width: 15px;
    height: 15px;
    background-image: url(../images/@1x/search-white.png);
}

.icon-articles {
    width: 12px;
    height: 12px;
    background-image: url(../images/@1x/articles.png);
}

.icon-action-articles {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-articles.png);
}

.icon-action-comment {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-comment.png);
}

.icon-action-fav {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-fav.png);
}

.icon-action-fav-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-fav-active.png);
}

.icon-action-follow {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-follow.png);
}

.icon-action-follow-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-follow-active.png);
}

.icon-action-share {
    width: 14px;
    height: 19px;
    background-image: url(../images/@1x/action-share.png);
}

.icon-action-voteup {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-voteup.png);
}

.icon-action-voteup-active {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/action-voteup-active.png);
}

.icon-arrow-right {
    width: 7px;
    height: 12px;
    background-image: url(../images/@1x/arrow-right.png);
}

.icon-arrow-right-circle-green {
    width: 14px;
    height: 14px;
    background-image: url(../images/@1x/arrow-right-circle-green.png);
}

.icon-close-white {
    width: 15px;
    height: 15px;
    background-image: url(../images/@1x/close-white.png);
}

.icon-close-black {
    width: 16px;
    height: 16px;
    background-image: url(../images/@1x/close-black.png);
}

.icon-prev-black {
    width: 20px;
    height: 19px;
    background-image: url(../images/@1x/prev-black.png);
}

.icon-circle-loading {
    width: 100px;
    height: 100px;
    background-image: url(../images/@1x/circle-loading.png);
}

.icon-entry-people {
    width: 13px;
    height: 16px;
    background-image: url(../images/@1x/entry-people.png);
}

.icon-articles {
    width: 12px;
    height: 12px;
    background-image: url(../images/@1x/articles.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .icon-nav-logo {
        background-image: url(../images/@2x/nav-logo.png);
    }
    .icon-nav-home {
        background-image: url(../images/@2x/nav-home.png);
    }
    .icon-nav-explore {
        background-image: url(../images/@2x/nav-explore.png);
    }
    .icon-nav-features {
        background-image: url(../images/@2x/nav-features.png);
    }
    .icon-search-white {
        background-image: url(../images/@2x/search-white.png);
    }
    .icon-articles {
        background-image: url(../images/@2x/articles.png);
    }
    .icon-action-articles {
        background-image: url(../images/@2x/action-articles.png);
    }
    .icon-action-comment {
        background-image: url(../images/@2x/action-comment.png);
    }
    .icon-action-fav {
        background-image: url(../images/@2x/action-fav.png);
    }
    .icon-action-fav-active {
        background-image: url(../images/@2x/action-fav-active.png);
    }
    .icon-action-follow {
        background-image: url(../images/@2x/action-follow.png);
    }
    .icon-action-follow-active {
        background-image: url(../images/@2x/action-follow-active.png);
    }
    .icon-action-share {
        background-image: url(../images/@2x/action-share.png);
    }
    .icon-action-voteup {
        background-image: url(../images/@2x/action-voteup.png);
    }
    .icon-action-voteup-active {
        background-image: url(../images/@2x/action-voteup-active.png);
    }
    .icon-arrow-right {
        background-image: url(../images/@2x/arrow-right.png);
    }
    .icon-arrow-right-circle-green {
        background-image: url(../images/@2x/arrow-right-circle-green.png);
    }
    .icon-close-white {
        background-image: url(../images/@2x/close-white.png);
    }
    .icon-close-black {
        background-image: url(../images/@2x/close-black.png);
    }
    .icon-prev-black {
        background-image: url(../images/@2x/prev-black.png);
    }
    .icon-arrow-down {
        background-image: url(../images/@2x/arrow-down.png);
    }
    .icon-circle-loading {
        background-image: url(../images/@2x/circle-loading.png);
    }
    .icon-entry-people {
        background-image: url(../images/@2x/entry-people.png);
    }
    .icon-articles {
        background-image: url(../images/@2x/articles.png);
    }
}
